# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Secrets
.env

# Large datasets
*.zip
